.scroll::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}
.CounselorMain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.CounselorCardBack {
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #6abfb4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.MP-RCard {
  height: auto;
}

.MP-CounselorList {
  padding: 3vh 0px;
  flex-grow: 1;
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: column; */
  gap: 3vh;
}

/* 스크롤 */
#CounselorMainScroll {
  overflow-y: scroll;
  height: 100vh;
}

#CounselorMainScroll::-webkit-scrollbar {
  display: none;
}

/* 캐러셀 전체 구조 */
.carousel_main {
  width: 300px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  user-select: none;
}

.carousel_wrapper {
  display: flex;
  transition: transform 1s;
}

.carousel_slide {
  flex: 0 0 300px;
  height: 100%;
  position: relative;
}

.carousel_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 캐러셀 사이드 버튼 */
.carousel_button_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.carousel_button {
  width: 50px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel_prev,
.carousel_next {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 캐러셀 중앙 버튼 */
.carousel_pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel_circle {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel_circle.active {
  background-color: #333;
}

/* CounselorCard 스타일 */
.CounselorPageTop {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.CounselorCard {
  position: relative;
  background-color: white;
  box-shadow: -4px 6px 0px 0px #001429;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 3% 5%;
  border: 1px black solid;
  border-radius: 20px;
}

#CS-Date {
  font-size: 130%;
}

.ConSelorCardIn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}
.ConSelorCardIn img {
  border-radius: 20px;
}
.ConSelorCardIn > div:nth-child(2) {
  flex: 1;
}

.CounselorInfo {
  text-align: left;
}

#MP-CounselorName {
  font-size: 110%;
}

#MP-Counselorfield {
  font-size: 90%;
}

#MP-Counselorintro {
  font-size: 90%;
  color: rgb(163, 163, 163);
}

.ConSelorCardIn > img {
  border-radius: 100%;
  border: 1px black solid;
  width: 35%;
  background-color: white;
}

.OptionSelect {
  background-color: #fff9e9;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  font-size: 120%;
  align-items: center;
  justify-content: center;
  gap: 12%;
}

.OptionSelect > div > input {
  accent-color: black;
}

.FilterSearch {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.FS-Filter {
  background-color: #e4e8e8;
  border: 3px rgb(139, 139, 139) solid;
  padding: 5px 10px;
  font-size: 90%;
  border-radius: 30px;
}

.FS-Filter * {
  text-align: center;
}

.FS-Search {
  display: flex;
  background-color: white;
  padding: 5px 10px;
  border: 3px rgb(139, 139, 139) solid;
  border-radius: 30px;
  width: 75%;
}

.FS-Search > input {
  width: 100%;
}

.FS-Search > input:focus {
  outline: none;
}

.FS-Search > input::placeholder {
  padding-left: 2px;
  font-size: 80%;
}

.CSCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

#DdayBtn {
  z-index: 100;
  width: 85%;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #3d3d3d;
  opacity: var(--sds-size-stroke-border);
  background: #ed9c9f;
  box-shadow: -3px 3px 0px 0px #3d3d3d;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition:
    background 0.1s ease,
    transform 0.3s ease;
}
#DdayBtn:hover {
  outline: none;
  background: #d88d91;
}
#DdayBtn:active {
  outline: none;
  background: #d88d91;
  transform: translateY(2px);
}

#DdayBtn * {
  font-size: 80%;
}

/* 슬라이더 관련 스타일 */
.slick-slider,
.slick-list,
.slick-track {
  height: auto !important;
}
.slick-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slick-list {
  /* padding-bottom: 10px; */
}
.slick-dots {
  width: 100%;
  position: relative;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide > div > div {
  height: 100%;
}
