.CounselorListCard {
  position: relative;
  background-color: white;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  padding: 3% 5%;
  border: 1px black solid;
  border-radius: 20px;
}

#CS-Date {
  font-size: 120%;
}

.ConSelorCardIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.CounselorInfo {
  text-align: left;
}

#MP-CounselorName {
  font-size: 110%;
}

#MP-Counselorfield {
  font-size: 90%;
}

#MP-Counselorintro {
  font-size: 90%;
  color: rgb(163, 163, 163);
}

.ConSelorCardIn > img {
  border-radius: 100%;
  border: 1px black solid;
  width: 50px;
  height: 50px;
  background-color: white;
}

/* 캐러셀 중앙 버튼 */
.carousel_pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.carousel_circle {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel_circle.active {
  background-color: #333;
}

.CSCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

#DdayBtn {
  width: 85%; /* 버튼 너비 고정 */
  height: 35px; /* 버튼 높이 고정 */
  border-radius: 30px;
  border: 2px solid #3d3d3d;
  opacity: var(--sds-size-stroke-border);
  background: #ed9c9f;
  box-shadow: -3px 3px 0px 0px #3d3d3d;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* 오른쪽으로 정렬 */
}
#DdayBtn * {
  font-size: 80%;
}
