.Title {
  font-size: 175%;
  text-align: left;
  /* padding-left: 10%; */
  padding-top: 15%;
}

#logo {
  margin: 10% 0;
}

Button {
  width: 100%;
  margin: 3% 0;
}

#Logopage {
  text-align: center;
  justify-content: center;
  padding: 7% 13%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#Logopage * {
  padding: 3%;
}
